* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: Tahoma, Arial;
  background: linear-gradient(135deg, #5d59ff, #00bfff);
  min-height: 100vh;
  padding: 20px;
}
img {
  width: 300px;
  height: 300px;
}
.contaner {
  width: 100%;
  max-width: 800px;
  margin: 100px auto;
  background-color: #f4f4f4;
  border-radius: 10px;
}
.slider-container {
  position: relative;
  width: 100%;
  height: 320px;
}
.slider-container img {
  position: absolute;
  opacity: 0;
  transition: opacity 1s;
  z-index: 1;
  width: 100%;
  height: 300px;
  border-radius: 10px 10px 0 0;
}
.slider-container img.active {
  opacity: 1;
}
.slider-container .slider-nubmer {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 2;
  background: white;
  color: #555;
  text-transform: uppercase;
  padding: 5px 10px;
  line-height: 30px;
  border-radius: 20px;
  font-size: 12px;
}

.slider-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px 20px;
}
.slider-controls .prev {
  margin-right: 15px;
}
.slider-controls .next {
  margin-left: 15px;
}

.slider-controls .prev,
.slider-controls .next {
  background: #00bfff;
  width: 100px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  text-transform: capitalize;
  cursor: pointer;
  border-radius: 20px;
  transition: background-color 0.2s;
}

.slider-controls .prev:hover,
.slider-controls .next:hover {
  background-color: #5d59ff;
}

.slider-controls .prev.disabled,
.slider-controls .next.disabled {
  cursor: no-drop;
  background: #00bfff5d;
}

.slider-controls .indecators {
  display: flex;
  justify-content: space-between;
  overflow: auto;
}
.slider-controls .indecators span {
  background-color: #00bfff;
  padding: 5px 8px;
  color: #fff;
  border-radius: 20px;
  margin: 5px;
  cursor: pointer;
}
.slider-controls .indecators span.active {
  background-color: #5d59ff;
}
